
:root {
  --black-color: #000000;
  --text-primary-color: #212121;
  --text-p-color: #757575;
  --primary-white-color: #ffffff;
  --background-secondary-color: #f5f4fa;
  --hero-footer-color--: #2f303a;
  --accent-color: #2196f3;
  --no-accent-color: #afb1b8;
  --primary-btn-accent-color--: #188ce8;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  background-color: var(--primary-white-color);
  color: var(--text-primary-color);

  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;
}

.nav-list,
.contacts-list,
.section-list,
.footer-list {
  list-style-type: none;
}


.nav-list-link.current::after {
  content: '';
  background: var(--accent-color);
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: -1px;
  left: 0px;
  border-radius: 2px;
}

.nav-list-link:hover,
.header-contacts:hover,
.footer-contacts:hover,
.address:hover,
.nav-list-link:focus,
.header-contacts:focus,
.footer-contacts:focus,
.address:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header {
  border-bottom: 1px solid #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--black-color);
  font-family: Raleway, sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.part {
  color: var(--accent-color);
}

.nav-list .link + .link {
  margin-left: 50px;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}


.nav-list-link.current {
  position: relative;
  color: var(--accent-color);
}

.nav-list-link {
  position: relative;
  display: block;
  padding: 32px 0px 31px 0px;
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .contact + .contact {
  margin-left: 40px;
}

.convert,
.phone {
  margin-right: 10px;
  fill: currentColor;
}

.convert:hover,
.phone:hover,
.convert:focus,
.phone:focus {
  fill: var(--accent-color);
}

.header-contacts {
  display: inline-flex;
  padding: 32px 0;

  color: var(--text-p-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  align-items: center;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.hero {
  padding: 200px 0;
  margin-left: auto;
  margin-right: auto;

  text-align: center;

  background-color: var(--hero-footer-color--);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-hero.jpg);
  max-width: 1600px;
  height: 600px;
  background-position: center;
}

.hero-title {
  max-width: 696px;
  margin-top: 0;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;

  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.btn {
  display: inline-block;
  cursor: pointer;
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 4px;
}

.btn.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  padding: 10px 24px;
}

.btn.primary:hover,
.btn.primary:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-btn-accent-color--);
}

.section.features {
  padding-bottom: 0;
}

.section-list {
  display: flex;
}

.section-list .item {
  width: 270px;
}

.icon-background {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;

  background-color: var(--background-secondary-color);
}

.section-list .item:not(:last-child) {
  margin-right: 30px;
}

.section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

.item-desc {
  color: var(--text-p-color);
  line-height: 1.71;
}


.section-list .img-list:not(:last-child) {
  margin-right: 30px;
}

.team {
  background-color: var(--background-secondary-color);
}

.section-list-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.section-card {
  background-color: var(--primary-white-color);

  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.section-card:not(:last-child) {
  margin-right: 30px;
}
.team-card-desc {
  padding: 30px 0;
}

.section-list-item {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
}

.media-list {
  display: flex;
  list-style-type: none;
  height: 44px;
  align-items: center;
  padding: 0 32px;
}

.media-link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  color: var(--no-accent-color);
}

.media-list li:not(:last-child) {
  margin-right: 10px;
}

.media-link:hover,
.media-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
  border-radius: 50%;
  color: var(--primary-white-color);
}

.icon {
  display: flex;
  fill: currentColor;
}

.company-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.company-list li:not(:last-child) {
  margin-right: 30px;
}

.company-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--no-accent-color);
  border-radius: 4px;
  padding: 16px 32px;

  color: var(--no-accent-color);
}

.company-link:hover,
.company-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.company-icon {
  fill: currentColor;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transform: scale(1);
  transition: var(--transition);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-content {
  transition: var(--transition);
  border-radius: 4px;
  background: #ffffff;
  width: 528px;
  height: 581px;
  margin: 0 auto;
  position: relative;
}

.is-hidden {
  transform: scale(0);
  transition: var(--transition);
  visibility: hidden;
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  background-color: var(--primary-white-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer
}

.close-btn::before {
  margin: auto;
  content: '';
  width: 11px;
  height: 11px;
  background-image: url(../images/exit.svg);
  background-size: contain;
}

.modal-content h2 {
  padding-top: 40px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
}

/* Formular Group */
  .form-group {
    position: relative;
    display: flex;
    gap: 4px;
    flex-direction: column;
    padding-right: 40px;
    padding-left: 40px;
  }

  .form-group > *:nth-child(1) {
    color: #757575;
    font-weight: 400px;
    font-size: 12px;
    
  }

  .form-group + .form-group {
    margin-top: 10px;
  }

  .form-group > *:nth-child(2) {
    outline: 0;
    padding: 12px 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  }

  .textarea {
    width: 448px;
    resize: none;
    margin-bottom: 20px;
  }

  .form-checkbox {
    justify-content: center;
    flex-direction: row;
    gap: 8px;
  }

  .form-checkbox > *:nth-child(2) {
    padding: 0;
    border: none;
  }

  .form-checkbox .checkbox {
    width: 16px;
    height: 15px;
    margin-top: 0;
  }


  .textarea::placeholder {
    color: #75757580;
  }

  .terms {
    text-decoration: none;
  }

  .terms:active,
  .terms:visited {
    color: #2196F3;
  }

  .modal-send {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }

  .btn-submit {
    border: none;
    background: #2196F3;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    width: 200px;
    height: 50px;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
  }

  .btn-submit:hover,
  .btn-submit:focus {
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--primary-btn-accent-color--);
  }

  .input:focus + .modal-icon {
    color: #2196F3;
  }

  .input:focus-within {
    border: 1px solid #2196F3;
  }
 
  .textarea:focus {
    border: 1px solid #2196F3;
  }

  .form .modal-icon {
    position: absolute;
    left: 50px;
    top: 50%;
  }



/* What we do positions */
  .img-list {
    position: relative;
  }

  .image-title {
    display: flex;
    position: absolute;
    color: #ffffff;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
  }

  .image-title {
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
    top: 224px;
  }

/* Footer Subscribe */
  

/* portfolio.html */
.btn-list,
.project-list {
  list-style-type: none;

  display: flex;
  flex-wrap: wrap;
}

.btn-list {
  justify-content: center;
  margin-bottom: 50px;
}

.btn.secondary:hover,
.btn.secondary:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list-btn:not(:last-child) {
  margin-right: 8px;
}
.btn.secondary {
  padding: 6px 22px;

  background-color: var(--background-secondary-color);
  color: var(--text-primary-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
}

.btn.secondary:hover,
.btn.secondary:focus {
  background-color: var(--accent-color);
  color: var(--primary-white-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.project-card {
  margin-right: 30px;
  margin-bottom: 30px;
}

.project-card:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-card:nth-child(3n) {
  margin-right: 0;
}

.project-card:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.card-desc {
  padding: 20px 24px;

  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.project-link {
  text-decoration: none;
}

.project-title {
  margin-bottom: 4px;
  color: var(--text-primary-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.project-desc {
  color: var(--text-p-color);
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.footer {
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--hero-footer-color--);
}

.footer .container {
  display: flex;
}

.foot {
  display: inline-block;
  margin-bottom: 20px;

  color: var(--primary-white-color);
}

.footer-list .item:not(:last-child) {
  margin-bottom: 9px;
}

.address {
  color: var(--primary-white-color);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.footer-contacts {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  line-height: 1.71;
  text-decoration: none;
}

.follow {
  margin-left: 70px;
}

.follow-list-title {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  margin-bottom: 20px;
}

.follow-list {
  display: flex;
  list-style-type: none;
}

.follow-list li:not(:last-child) {
  margin-right: 10px;
}

.follow-media-link {
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 44px;
  height: 44px;

  align-items: center;
  justify-content: center;

  color: var(--primary-white-color);
}

.follow-icon {
  fill: currentColor;
}

.follow-media-link:hover,
.follow-media-link:focus {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--accent-color);
}

/* Overlay CSS */
.project-card:hover .overlay,
.project-card:focus .overlay {
  transform: translateX(0);
}

.project-card .overlay-wrapper {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.project-card .overlay {
  position: absolute;
  top: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 28px;
  color: var(--primary-white-color);
  background-color:  rgba(33, 150, 243, 0.9);
  opacity: 0.9;
  transform: translateY(100%);
  transition: var(--transition);
}

















